<header>
    <h1>
        Rplace
    </h1>
</header>
<main>
    <div class="aff">
        <div class="card_container">
            <div class="card_header">
                <span>Login</span>
                <img src="https://cdn-icons-png.flaticon.com/512/9972/9972749.png" value=" a">
            </div>
            <div class="card_main">
                <div class="login-card">

                    <input type="text" placeholder="User: " [value]="Value" (input)="EnviarNome($event) ">
                    <input type="text" placeholder="Password: " [value]="Value" (input)="EnviarNome($event)">
                </div>
            </div>
            <div class="card_footer">
                <button> send </button>
            </div>
        </div>
    </div>
</main>