<header>
    <h1>Rplace</h1>
</header>
<main>
    <br>
    <div class="paizao">
        <div class="palette">
            <div *ngFor="let color of colors" class="color-option" [style.background]="color"
                (click)="selectColor(color)">
            </div>
        </div>
        <br>
        <div class="grid">
            @for (pixel of pixels; track $index) {
            <div class="pixel" (click)="paintPixel($index)" [style.background]="pixel.color">
            </div>
            }
        </div>
    </div>

</main>